.main-header {
  background-color: rgba(27, 41, 49, 1);
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  padding-bottom: 101px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-bg@2x.jpg");
  }
}

.webp .main-header {
  background-image: url("../img/intro-bg.webp");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-bg@2x.webp");
  }
}

@media (max-width: $desktop) {
  .main-header {
    padding-bottom: 163px;
  }
}

@media (max-width: $tablet) {
  .main-header {
    padding-bottom: 70px;
  }
}
